@font-face {
    font-family: "Lucida Bright Demibold";
    src: url("./assets/lucidabrightdemibold.ttf") format("truetype");
}

@font-face {
    font-family: "Lucida Bright";
    src: url("./assets/lucidabrightregular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Bright", "Century Gothic", Futura, sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
:root {
    --bg-color-1: #2c0036;
    --bg-color-2: #593c61;
    --bg-color-3: #f1e8f3;
    --text-color-1: white;
    --text-color-2: white;
    --text-color-3: #2c0036;

    --image-wilberforce: url("./assets/wilberforce.png");
    --image-home: url("./assets/home.png");
    --image-about-us: url("./assets/radcam.png");
    --image-gin-and-liberty: url("./assets/g&l.png");
    --image-speaking-events: url("./assets/drchi.png");
    --image-committee: url("./assets/committee.png");
    --image-contact-us: url("./assets/contactus.png");

    --image-email-purple: url("./assets/email_purple.svg");
    --image-facebook-purple: url("./assets/facebook_purple.svg");
}
